{% extends "layout.html" %}
{% block title %}
    Can I Cook
{% endblock %}

{% block main %}
    <div class="title-div">
        <h1 class="page-title">Can I Cook</h1>
    </div>
    {% if not recipes %}
        <h2>{{ message }}</h2>
    {% else %}
        <div class="recipe-book-container">
            <div class="recipe-book">
                {% for recipe in recipes %}
                <div class="recipe-container">
                    <h3>{{ recipe.name.title() }}</h3>
                    <div class="ingredients">
                        <p class="section-title">Ingredients:</p>
                        <pre>{{ recipe.ingredients }}</pre>
                    </div>
                    <div class="instructions">
                        <p class="section-title">Instructions:</p>
                        <pre>{{ recipe.instructions }}</pre>
                    </div>
                    <div class="recipe-details">
                        <p>Created by: <b>{{ recipe.creator }}</b></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> 
    {% endif %}
{% endblock %}